nav {
  padding: 25x;
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}





.main-content {
  width: 1440px;
 margin-left: auto;
 margin-right: auto;
  margin-top: 200px;

  display: flex; 
  justify-content: center;
  flex-direction: column;
}




.content {
  display: flex;
  justify-content: space-between;
  gap: 500px;
  align-items: center;
  margin-bottom: 400px;
 
}
.content-title {
  display: block;
}


.title {
  font-size: 65px;
  margin-bottom: 60px;
}


footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  margin-bottom: 100px;
}

.footer-segment{
 display: flex;
 flex-direction: column;
}
.footer-segment p {
  margin-bottom: 20px;

}

.footer-title{
  font-size: 30px;
  font-weight: bold;
  color: rgb(180, 180, 180);
  margin-bottom: 30px;
  
}


